CronTkd/src/META-INF/wsdl/prefeituras.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="prodemge.webservice.administracao.infracoes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://homologa3.prodemge.gov.br/sdat" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebserviceInfracao" targetNamespace="http://homologa3.prodemge.gov.br/sdat">
	<types>
		<xs:schema xmlns:ns1="prodemge.webservice.administracao.infracoes" xmlns:tns="http://homologa3.prodemge.gov.br/sdat" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://homologa3.prodemge.gov.br/sdat" version="1.0">

			<xs:element name="consultarVeiculoPorPlaca" type="tns:consultarVeiculoPorPlaca"/>
			<xs:element name="consultarVeiculoPorPlacaResponse" type="tns:consultarVeiculoPorPlacaResponse"/>
			<xs:element name="consultarPontuacaoDadosCondutor" type="tns:consultarPontuacaoDadosCondutor"/>
			<xs:element name="consultarPontuacaoDadosCondutorResponse" type="tns:consultarPontuacaoDadosCondutorResponse"/>
			<xs:element name="consultarAutoInfracaoBaseEstadual" type="tns:consultarAutoInfracaoBaseEstadual"/>
			<xs:element name="consultarAutoInfracaoBaseEstadualResponse" type="tns:consultarAutoInfracaoBaseEstadualResponse"/>
			<xs:element name="consultarAutoInfracaoBaseNacional" type="tns:consultarAutoInfracaoBaseNacional"/>
			<xs:element name="consultarAutoInfracaoBaseNacionalResponse" type="tns:consultarAutoInfracaoBaseNacionalResponse"/>
			<xs:element name="consultarDefesaRecursoInfracao" type="tns:consultarDefesaRecursoInfracao"/>
			<xs:element name="consultarDefesaRecursoInfracaoResponse" type="tns:consultarDefesaRecursoInfracaoResponse"/>
			<xs:element name="consultarMovimentacoesInfracao" type="tns:consultarMovimentacoesInfracao"/>
			<xs:element name="consultarMovimentacoesInfracaoResponse" type="tns:consultarMovimentacoesInfracaoResponse"/>
			<xs:element name="incluirAutoInfracao" type="tns:incluirAutoInfracao"/>
			<xs:element name="incluirAutoInfracaoResponse" type="tns:incluirAutoInfracaoResponse"/>
			<xs:element name="incluirRecursoInfracao" type="tns:incluirRecursoInfracao"/>
			<xs:element name="incluirRecursoInfracaoResponse" type="tns:incluirRecursoInfracaoResponse"/>
			<xs:element name="incluirIdentificacaoCondutorInfrator" type="tns:incluirIdentificacaoCondutorInfrator"/>
			<xs:element name="incluirIdentificacaoCondutorInfratorResponse" type="tns:incluirIdentificacaoCondutorInfratorResponse"/>
			<xs:element name="incluirBaixaSuspensaoRetornoInfracao" type="tns:incluirBaixaSuspensaoRetornoInfracao"/>
			<xs:element name="incluirBaixaSuspensaoRetornoInfracaoResponse" type="tns:incluirBaixaSuspensaoRetornoInfracaoResponse"/>
			<xs:element name="incluirNotificacaoPublicacaoPrazo" type="tns:incluirNotificacaoPublicacaoPrazo"/>
			<xs:element name="incluirNotificacaoPublicacaoPrazoResponse" type="tns:incluirNotificacaoPublicacaoPrazoResponse"/>
			<xs:element name="incluirDefesaAutuacao" type="tns:incluirDefesaAutuacao"/>
			<xs:element name="incluirDefesaAutuacaoResponse" type="tns:incluirDefesaAutuacaoResponse"/>
			<xs:element name="incluirMultaCondutorNaoIdentificado" type="tns:incluirMultaCondutorNaoIdentificado"/>
			<xs:element name="incluirMultaCondutorNaoIdentificadoResponse" type="tns:incluirMultaCondutorNaoIdentificadoResponse"/>
			<xs:element name="consultarCarroceriaVeiculo" type="tns:consultarCarroceriaVeiculo"/>
			<xs:element name="consultarCarroceriaVeiculoResponse" type="tns:consultarCarroceriaVeiculoResponse"/>
			<xs:element name="consultarCategoriaVeiculo" type="tns:consultarCategoriaVeiculo"/>
			<xs:element name="consultarCategoriaVeiculoResponse" type="tns:consultarCategoriaVeiculoResponse"/>
			<xs:element name="consultarCorVeiculo" type="tns:consultarCorVeiculo"/>
			<xs:element name="consultarCorVeiculoResponse" type="tns:consultarCorVeiculoResponse"/>
			<xs:element name="consultarEspecieVeiculo" type="tns:consultarEspecieVeiculo"/>
			<xs:element name="consultarEspecieVeiculoResponse" type="tns:consultarEspecieVeiculoResponse"/>
			<xs:element name="consultarMarcaVeiculo" type="tns:consultarMarcaVeiculo"/>
			<xs:element name="consultarMarcaVeiculoResponse" type="tns:consultarMarcaVeiculoResponse"/>
			<xs:element name="consultarMarcaModeloVeiculo" type="tns:consultarMarcaModeloVeiculo"/>
			<xs:element name="consultarMarcaModeloVeiculoResponse" type="tns:consultarMarcaModeloVeiculoResponse"/>
			<xs:element name="consultarMunicipio" type="tns:consultarMunicipio"/>
			<xs:element name="consultarMunicipioResponse" type="tns:consultarMunicipioResponse"/>
			<xs:element name="consultarTipoVeiculo" type="tns:consultarTipoVeiculo"/>
			<xs:element name="consultarTipoVeiculoResponse" type="tns:consultarTipoVeiculoResponse"/>
			<xs:element name="consultarInfracao" type="tns:consultarInfracao"/>
			<xs:element name="consultarInfracaoResponse" type="tns:consultarInfracaoResponse"/>
			<xs:element name="retornarInfracoes" type="tns:retornarInfracoes"/>
			<xs:element name="retornarInfracoesResponse" type="tns:retornarInfracoesResponse"/>
			<xs:complexType name="consultarVeiculoPorPlaca">
				<xs:sequence>
					<xs:element minOccurs="0" name="origem_solicitacao" type="xs:int"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarVeiculoPorPlacaResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="nome" type="xs:string"/>
					<xs:element minOccurs="0" name="logradouro" type="xs:string"/>
					<xs:element minOccurs="0" name="numero" type="xs:string"/>
					<xs:element minOccurs="0" name="complemento" type="xs:string"/>
					<xs:element minOccurs="0" name="bairro" type="xs:string"/>
					<xs:element minOccurs="0" name="cep" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_municipio" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_municipio" type="xs:string"/>
					<xs:element minOccurs="0" name="cnpj_proprietario" type="xs:string"/>
					<xs:element minOccurs="0" name="cpf_proprietario" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_arrendatario" type="xs:string"/>
					<xs:element minOccurs="0" name="cnpj_arrendatario" type="xs:string"/>
					<xs:element minOccurs="0" name="cpf_arrendatario" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_adquirente" type="xs:string"/>
					<xs:element minOccurs="0" name="logradouro_adquirente" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_imovel_adquirente" type="xs:string"/>
					<xs:element minOccurs="0" name="complemento_imovel_adquirente" type="xs:string"/>
					<xs:element minOccurs="0" name="bairro_imovel_adquirente" type="xs:string"/>
					<xs:element minOccurs="0" name="cep_imovel_adquirente" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_municipio_adquirente" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_municipio_adquirente" type="xs:string"/>
					<xs:element minOccurs="0" name="cnpj_adquirente" type="xs:string"/>
					<xs:element minOccurs="0" name="cpf_adquirente" type="xs:string"/>
					<xs:element minOccurs="0" name="data_recibo" type="xs:int"/>
					<xs:element minOccurs="0" name="data_impedimento_nao_transferencia" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_tipo" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_cor" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_especie" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_categoria" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_marca_modelo" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_renavam" type="xs:int"/>
					<xs:element minOccurs="0" name="placa_antiga" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarPontuacaoDadosCondutor">
				<xs:sequence>
					<xs:element minOccurs="0" name="tipo_documento" type="xs:int"/>
					<xs:element minOccurs="0" name="documento" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarPontuacaoDadosCondutorResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="cpf_condutor" type="xs:string"/>
					<xs:element minOccurs="0" name="renach_condutor" type="xs:int"/>
					<xs:element minOccurs="0" name="pgu_condutor" type="xs:int"/>
					<xs:element minOccurs="0" name="nome_condutor" type="xs:string"/>
					<xs:element minOccurs="0" name="pontos_condutor" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_cnh" type="xs:string"/>
					<xs:element minOccurs="0" name="categoria_cnh" type="xs:string"/>
					<xs:element minOccurs="0" name="data_emissao_cnh" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarAutoInfracaoBaseEstadual">
				<xs:sequence>
					<xs:element minOccurs="0" name="origem_solicitacao" type="xs:int"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarAutoInfracaoBaseEstadualResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_renavam" type="xs:int"/>
					<xs:element minOccurs="0" name="chassi" type="xs:string"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="uf_veiculo" type="xs:string"/>
					<xs:element minOccurs="0" name="situacao" type="xs:string"/>
					<xs:element minOccurs="0" name="orgao_notificacao" type="xs:int"/>
					<xs:element minOccurs="0" name="sequencial_ait" type="xs:int"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="nome_orgao" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_agente" type="xs:string"/>
					<xs:element minOccurs="0" name="descricao_marca_modelo" type="xs:string"/>
					<xs:element minOccurs="0" name="cor" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_renainf" type="xs:int"/>
					<xs:element minOccurs="0" name="valor_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_infracao" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="data_ait" type="xs:string"/>
					<xs:element minOccurs="0" name="hora_ait" type="xs:string"/>
					<xs:element minOccurs="0" name="local_ait" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_condutor" type="xs:string"/>
					<xs:element minOccurs="0" name="cnh_condutor" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_condutor" type="xs:string"/>
					<xs:element minOccurs="0" name="observacao_ait" type="xs:string"/>
					<xs:element minOccurs="0" name="data_limite_defesa" type="xs:string"/>
					<xs:element minOccurs="0" name="data_limite_fici" type="xs:string"/>
					<xs:element minOccurs="0" name="data_limite_jari" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_ar_autuacao" type="xs:string"/>
					<xs:element minOccurs="0" name="descricao_ar_autuacao" type="xs:string"/>
					<xs:element minOccurs="0" name="data_emissao_autuacao" type="xs:string"/>
					<xs:element minOccurs="0" name="data_postagem_autuacao" type="xs:string"/>
					<xs:element minOccurs="0" name="data_publicacao_autuacao" type="xs:string"/>
					<xs:element minOccurs="0" name="edital_autuacao" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_ar_penalidade" type="xs:string"/>
					<xs:element minOccurs="0" name="descricao_ar_penalidade" type="xs:string"/>
					<xs:element minOccurs="0" name="data_emissao_penalidade" type="xs:string"/>
					<xs:element minOccurs="0" name="data_postagem_penalidade" type="xs:string"/>
					<xs:element minOccurs="0" name="data_publicacao_penalidade" type="xs:string"/>
					<xs:element minOccurs="0" name="edital_penalidade" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarAutoInfracaoBaseNacional">
				<xs:sequence>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarAutoInfracaoBaseNacionalResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao_editado" type="xs:string"/>
					<xs:element minOccurs="0" name="tipo_ait" type="xs:string"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="exigivel" type="xs:string"/>
					<xs:element minOccurs="0" name="data_cadastro_ait" type="xs:string"/>
					<xs:element minOccurs="0" name="indicador_assinatura" type="xs:string"/>
					<xs:element minOccurs="0" name="cnh_condutor" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_cnh_condutor" type="xs:string"/>
					<xs:element minOccurs="0" name="data_ait" type="xs:string"/>
					<xs:element minOccurs="0" name="hora_ait" type="xs:int"/>
					<xs:element minOccurs="0" name="local_ait" type="xs:string"/>
					<xs:element minOccurs="0" name="municipio_ait" type="xs:string"/>
					<xs:element minOccurs="0" name="medicao_real" type="xs:double"/>
					<xs:element minOccurs="0" name="medicao_considerada" type="xs:double"/>
					<xs:element minOccurs="0" name="limite" type="xs:double"/>
					<xs:element minOccurs="0" name="unidade_medida" type="xs:double"/>
					<xs:element minOccurs="0" name="valor_infracao" type="xs:double"/>
					<xs:element minOccurs="0" name="municipio_emplacamento" type="xs:string"/>
					<xs:element minOccurs="0" name="uf_emplacamento" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_renavam" type="xs:int"/>
					<xs:element minOccurs="0" name="tipo_veiculo" type="xs:string"/>
					<xs:element minOccurs="0" name="marca_modelo" type="xs:string"/>
					<xs:element minOccurs="0" name="cor" type="xs:string"/>
					<xs:element minOccurs="0" name="especie" type="xs:string"/>
					<xs:element minOccurs="0" name="carroceria" type="xs:string"/>
					<xs:element minOccurs="0" name="categoria" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="cpf_cnpj_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="data_emissao_autuacao" type="xs:string"/>
					<xs:element minOccurs="0" name="data_limite_defesa" type="xs:string"/>
					<xs:element minOccurs="0" name="data_aceite_autuacao_uf" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_notificao_penalidade" type="xs:int"/>
					<xs:element minOccurs="0" name="data_emissao_penalidade" type="xs:string"/>
					<xs:element minOccurs="0" name="data_limite_jari" type="xs:string"/>
					<xs:element minOccurs="0" name="data_aceite_penalidade_uf" type="xs:string"/>
					<xs:element minOccurs="0" name="valor_pago" type="xs:double"/>
					<xs:element minOccurs="0" name="uf_pagamento" type="xs:string"/>
					<xs:element minOccurs="0" name="data_registro_pagamento" type="xs:string"/>
					<xs:element minOccurs="0" name="data_pagamento" type="xs:string"/>
					<xs:element minOccurs="0" name="quantidade_pagamento" type="xs:int"/>
					<xs:element minOccurs="0" name="tipo_ocorrencia" type="xs:string"/>
					<xs:element minOccurs="0" name="origem_ocorrencia" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento_ocorrencia" type="xs:string"/>
					<xs:element minOccurs="0" name="data_ocorrencia" type="xs:string"/>
					<xs:element minOccurs="0" name="data_registro_ocorrencia" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_infrator" type="xs:string"/>
					<xs:element minOccurs="0" name="cnh_infrator" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_cnh_infrator" type="xs:string"/>
					<xs:element minOccurs="0" name="tipo_documento_infrator" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_documento_infrator" type="xs:int"/>
					<xs:element minOccurs="0" name="data_apresentacao" type="xs:string"/>
					<xs:element minOccurs="0" name="status_pontuacao" type="xs:string"/>
					<xs:element minOccurs="0" name="data_aceite_uf" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarDefesaRecursoInfracao">
				<xs:sequence>
					<xs:element minOccurs="0" name="origem_solicitacao" type="xs:int"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarDefesaRecursoInfracaoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_renavam" type="xs:int"/>
					<xs:element minOccurs="0" name="chassi" type="xs:string"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="uf_veiculo" type="xs:string"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="nome_orgao" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="data_publicacao_recurso" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processo_defesa" type="xs:string"/>
					<xs:element minOccurs="0" name="data_defesa_transito" type="xs:string"/>
					<xs:element minOccurs="0" name="data_entrada_defesa" type="xs:string"/>
					<xs:element minOccurs="0" name="data_encerramento_defesa" type="xs:string"/>
					<xs:element minOccurs="0" name="decisao_defesa" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processo_advertencia" type="xs:string"/>
					<xs:element minOccurs="0" name="data_advertencia_transito" type="xs:string"/>
					<xs:element minOccurs="0" name="data_entrada_advertencia" type="xs:string"/>
					<xs:element minOccurs="0" name="data_encerramento_advertencia" type="xs:string"/>
					<xs:element minOccurs="0" name="parecer_final_advertencia" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processo_recurso" type="xs:string"/>
					<xs:element minOccurs="0" name="data_recurso_transito" type="xs:string"/>
					<xs:element minOccurs="0" name="data_entrada_recurso" type="xs:string"/>
					<xs:element minOccurs="0" name="data_encerramento_recurso" type="xs:string"/>
					<xs:element minOccurs="0" name="decisao_recurso" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processo_cetran" type="xs:string"/>
					<xs:element minOccurs="0" name="data_cetran_transito" type="xs:string"/>
					<xs:element minOccurs="0" name="data_entrada_cetran" type="xs:string"/>
					<xs:element minOccurs="0" name="data_encerramento_cetran" type="xs:string"/>
					<xs:element minOccurs="0" name="decisao_cetran" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarMovimentacoesInfracao">
				<xs:sequence>
					<xs:element minOccurs="0" name="origem_solicitacao" type="xs:int"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarMovimentacoesInfracaoResponse">
				<xs:sequence>
					<xs:element name="Dados">
						<xs:complexType>
							<xs:sequence>
								<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
								<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
								<xs:element minOccurs="0" name="codigo_renavam" type="xs:int"/>
								<xs:element minOccurs="0" name="chassi" type="xs:string"/>
								<xs:element minOccurs="0" name="placa" type="xs:string"/>
								<xs:element minOccurs="0" name="uf_veiculo" type="xs:string"/>
								<xs:element minOccurs="0" name="orgao" type="xs:int"/>
								<xs:element minOccurs="0" name="nome_orgao" type="xs:string"/>
								<xs:element minOccurs="0" name="ait" type="xs:string"/>
								<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
								<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
								<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
								<xs:element name="movimentacoes">
									<xs:complexType>
										<xs:sequence>
											<xs:element minOccurs="0" name="codigo_movimentacao" type="xs:int"/>
											<xs:element minOccurs="0" name="descricao_movimentacao_1" type="xs:string"/>
											<xs:element minOccurs="0" name="descricao_movimentacao_2" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="mensagens">
									<xs:complexType>
										<xs:sequence>
										<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
										<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirAutoInfracao">
				<xs:sequence>
					<xs:element minOccurs="0" name="origem_solicitacao" type="xs:string"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="uf" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="fiscalizacao_eletronica" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_agente" type="xs:string"/>
					<xs:element minOccurs="0" name="tipo_agente" type="xs:int"/>
					<xs:element minOccurs="0" name="data_ait" type="xs:int"/>
					<xs:element minOccurs="0" name="hora_ait" type="xs:int"/>
					<xs:element minOccurs="0" name="local_ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_municipio" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_municipio" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_condutor" type="xs:string"/>
					<xs:element minOccurs="0" name="rg_condutor" type="xs:string"/>
					<xs:element minOccurs="0" name="orgao_rg" type="xs:string"/>
					<xs:element minOccurs="0" name="uf_rg" type="xs:string"/>
					<xs:element minOccurs="0" name="tipo_documento" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_documento" type="xs:string"/>
					<xs:element minOccurs="0" name="cpf_condutor" type="xs:string"/>
					<xs:element minOccurs="0" name="modelo_cnh" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_cnh" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_cnh" type="xs:string"/>
					<xs:element minOccurs="0" name="assinatura" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_marca_modelo" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_marca_modelo" type="xs:string"/>
					<xs:element minOccurs="0" name="cor" type="xs:string"/>
					<xs:element minOccurs="0" name="valor_ait" type="xs:int"/>
					<xs:element minOccurs="0" name="medicao_real" type="xs:int"/>
					<xs:element minOccurs="0" name="limite" type="xs:int"/>
					<xs:element minOccurs="0" name="medicao_considerada" type="xs:int"/>
					<xs:element minOccurs="0" name="unidade_medida" type="xs:int"/>
					<xs:element minOccurs="0" name="nome_embarcador" type="xs:string"/>
					<xs:element minOccurs="0" name="documento_embarcador" type="xs:int"/>
					<xs:element minOccurs="0" name="nome_transportador" type="xs:string"/>
					<xs:element minOccurs="0" name="documento_transportador" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirAutoInfracaoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="prazo_defesa" type="xs:int"/>
					<xs:element minOccurs="0" name="prazo_fici" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_orgao_autuador" type="xs:int"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa_veiculo_autuado" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_renainf" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_jurisdicao_veiculo" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_municipio_emplacamento" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_marca_modelo" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_marca_modelo" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_renavam" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_tipo" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_especie" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_carroceria" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_categoria" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_cor" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_restricao_1" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_restricao_2" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_restricao_3" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_restricao_4" type="xs:int"/>
					<xs:element minOccurs="0" name="indicador_restricao_renajud" type="xs:int"/>
					<xs:element minOccurs="0" name="indicador_restricao_renavam" type="xs:int"/>
					<xs:element minOccurs="0" name="indicador_roubo_furto_renavam" type="xs:int"/>
					<xs:element minOccurs="0" name="origem_possuidor_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="tipo_documento_possuidor" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_identificacao_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_logradouro_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="complemento_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="bairro_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_municipio_possuidor" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="cep_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="modelo_cnh_possuidor" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_registro_cnh_possuidor" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_expedicao_cnh_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="indicador_exigibilidade" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_indicador_adesao_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_data_adesao_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_hora_adesao_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_indicador_adesao_orgao_autuador" type="xs:int"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirRecursoInfracao">
				<xs:sequence>
					<xs:element minOccurs="0" name="origem_solicitacao" type="xs:string"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_renainf" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_movimentacao" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_processo_recurso" type="xs:string"/>
					<xs:element minOccurs="0" name="data_entrada_recurso" type="xs:int"/>
					<xs:element minOccurs="0" name="data_encerramento_recurso" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_reclassificacao_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="data_movimentacao" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_documento" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirRecursoInfracaoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_orgao_autuador" type="xs:int"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="indicador_exigibilidade" type="xs:int"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirIdentificacaoCondutorInfrator">
				<xs:sequence>
					<xs:element minOccurs="0" name="origem_solicitacao" type="xs:string"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_renainf" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_movimentacao" type="xs:int"/>
					<xs:element minOccurs="0" name="modelo_cnh" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_cnh" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_cnh" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_condutor" type="xs:string"/>
					<xs:element minOccurs="0" name="rg_condutor" type="xs:string"/>
					<xs:element minOccurs="0" name="orgao_rg" type="xs:string"/>
					<xs:element minOccurs="0" name="uf_rg" type="xs:string"/>
					<xs:element minOccurs="0" name="cpf_condutor" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_protocolo" type="xs:int"/>
					<xs:element minOccurs="0" name="parecer_fici" type="xs:string"/>
					<xs:element minOccurs="0" name="data_parecer_fici" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_parecer_fici" type="xs:int"/>
					<xs:element minOccurs="0" name="data_protocolo" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirIdentificacaoCondutorInfratorResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_orgao_autuador" type="xs:int"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirBaixaSuspensaoRetornoInfracao">
				<xs:sequence>
					<xs:element minOccurs="0" name="origem_solicitacao" type="xs:int"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_renainf" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_movimentacao" type="xs:int"/>
					<xs:element minOccurs="0" name="data_movimentacao" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_documento" type="xs:string"/>
					<xs:element minOccurs="0" name="valor_pago" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirBaixaSuspensaoRetornoInfracaoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_orgao_autuador" type="xs:int"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="indicador_exigibilidade" type="xs:int"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirNotificacaoPublicacaoPrazo">
				<xs:sequence>
					<xs:element minOccurs="0" name="origem_solicitacao" type="xs:string"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_renainf" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_movimentacao" type="xs:int"/>
					<xs:element minOccurs="0" name="data_notificacao" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_notificacao" type="xs:int"/>
					<xs:element minOccurs="0" name="indicador_contas" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_ar_correio" type="xs:int"/>
					<xs:element minOccurs="0" name="data_postagem_correio" type="xs:int"/>
					<xs:element minOccurs="0" name="data_entrega_correio" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_retorno_correio" type="xs:int"/>
					<xs:element minOccurs="0" name="data_publicacao" type="xs:int"/>
					<xs:element minOccurs="0" name="data_novo_prazo_fici" type="xs:int"/>
					<xs:element minOccurs="0" name="indicador_notificacao_edital" type="xs:int"/>
					<xs:element minOccurs="0" name="data_notificacao_edital" type="xs:int"/>
					<xs:element minOccurs="0" name="tipo_penalidade" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirNotificacaoPublicacaoPrazoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="data_novo_prazo_defesa" type="xs:int"/>
					<xs:element minOccurs="0" name="data_novo_prazo_fici" type="xs:int"/>
					<xs:element minOccurs="0" name="data_novo_prazo_jari" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_orgao_autuador" type="xs:int"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_renainf" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_indicador_adesao_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_data_adesao_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_hora_adesao_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_indicador_adesao_orgao_autuador" type="xs:int"/>
					<xs:element minOccurs="0" name="origem_possuidor_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="tipo_documento_possuidor" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_identificacao_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_logradouro_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="complemento_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="bairro_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_municipio_possuidor" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="cep_imovel_possuidor" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirDefesaAutuacao">
				<xs:sequence>
					<xs:element minOccurs="0" name="origem_solicitacao" type="xs:string"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_renainf" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_movimentacao" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_processo_defesa" type="xs:string"/>
					<xs:element minOccurs="0" name="data_entrada_defesa" type="xs:int"/>
					<xs:element minOccurs="0" name="data_encerramento_defesa" type="xs:int"/>
					<xs:element minOccurs="0" name="data_movimentacao" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_documento" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirDefesaAutuacaoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="data_limite_recurso" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_orgao_autuador" type="xs:int"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="indicador_exigibilidade" type="xs:int"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirMultaCondutorNaoIdentificado">
				<xs:sequence>
					<xs:element minOccurs="0" name="origem_solicitacao" type="xs:int"/>
					<xs:element minOccurs="0" name="orgao" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="data_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_movimentacao" type="xs:int"/>
					<xs:element minOccurs="0" name="data_movimentacao" type="xs:int"/>
					<xs:element minOccurs="0" name="valor_multa" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_renainf" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_infracao_geradora" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao_geradora" type="xs:int"/>
					<xs:element minOccurs="0" name="ait_geradora" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento_geradora" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_renainf_geradora" type="xs:int"/>
					<xs:element minOccurs="0" name="fator_multiplicador" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_processamento_fator" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incluirMultaCondutorNaoIdentificadoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_processamento" type="xs:int"/>
					<xs:element minOccurs="0" name="placa" type="xs:string"/>
					<xs:element minOccurs="0" name="prazo_jari" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_orgao_autuador" type="xs:int"/>
					<xs:element minOccurs="0" name="ait" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_infracao_geradora" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao_geradora" type="xs:int"/>
					<xs:element minOccurs="0" name="placa_veiculo_autuado" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_renainf" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_jurisdicao_veiculo" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_municipio_emplacamento" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_marca_modelo" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_marca_modelo" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_renavam" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_tipo" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_especie" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_carroceria" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_categoria" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_cor" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_restricao_1" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_restricao_2" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_restricao_3" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_restricao_4" type="xs:int"/>
					<xs:element minOccurs="0" name="indicador_restricao_renajud" type="xs:int"/>
					<xs:element minOccurs="0" name="indicador_restricao_renavam" type="xs:int"/>
					<xs:element minOccurs="0" name="indicador_roubo_furto_renavam" type="xs:int"/>
					<xs:element minOccurs="0" name="origem_possuidor_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="tipo_documento_possuidor" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_identificacao_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="nome_logradouro_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="numero_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="complemento_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="bairro_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_municipio_possuidor" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="cep_imovel_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="modelo_cnh_possuidor" type="xs:int"/>
					<xs:element minOccurs="0" name="numero_registro_cnh_possuidor" type="xs:int"/>
					<xs:element minOccurs="0" name="uf_expedicao_cnh_possuidor" type="xs:string"/>
					<xs:element minOccurs="0" name="indicador_exigibilidade" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_indicador_adesao_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_data_adesao_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_hora_adesao_veiculo" type="xs:int"/>
					<xs:element minOccurs="0" name="sne_indicador_adesao_orgao_autuador" type="xs:int"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarCarroceriaVeiculo">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo_carroceria" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarCarroceriaVeiculoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_carroceria" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_carroceria" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarCategoriaVeiculo">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo_categoria" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarCategoriaVeiculoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_categoria" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_categoria" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarCorVeiculo">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo_cor" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarCorVeiculoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_cor" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_cor" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarEspecieVeiculo">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo_especie" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarEspecieVeiculoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_especie" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_especie" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarMarcaVeiculo">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo_marca" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarMarcaVeiculoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_marca" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_marca" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarMarcaModeloVeiculo">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo_marca_modelo" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarMarcaModeloVeiculoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_marca_modelo" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_marca_modelo" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarMunicipio">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo_municipio" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarMunicipioResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_municipio" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_municipio" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarTipoVeiculo">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo_tipo" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarTipoVeiculoResponse">
				<xs:sequence>
			<xs:element name="Dados">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
					<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
					<xs:element minOccurs="0" name="codigo_tipo" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_tipo" type="xs:string"/>
			<xs:element name="mensagens">
				<xs:complexType>
					<xs:sequence>
					<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
					<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarInfracao">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultarInfracaoResponse">
				<xs:sequence>
					<xs:element name="Dados">
						<xs:complexType>
							<xs:sequence>
								<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
								<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
								<xs:element name="infracao">
									<xs:complexType>
										<xs:sequence>
											<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
											<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
											<xs:element minOccurs="0" name="descricao_infracao" type="xs:string"/>
											<xs:element minOccurs="0" name="valor_infracao" type="xs:string"/>
											<xs:element minOccurs="0" name="amparo_legal" type="xs:int"/>
											<xs:element minOccurs="0" name="infrator_59" type="xs:string"/>
											<xs:element minOccurs="0" name="pontos_carteira" type="xs:int"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="mensagens">
									<xs:complexType>
										<xs:sequence>
											<xs:element minOccurs="0" name="codigo_mensagem" type="xs:int"/>
											<xs:element minOccurs="0" name="descricao_mensagem" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="retornarInfracoes">
				<xs:sequence>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="retornarInfracoesResponse">
				<xs:sequence>
					<xs:element name="Dados">
						<xs:complexType>
							<xs:sequence>
								<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
								<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
								<xs:element name="infracoes">
									<xs:complexType>
										<xs:sequence>
										<xs:element minOccurs="0" name="codigo_retorno" type="xs:int"/>
										<xs:element minOccurs="0" name="mensagem_retorno" type="xs:string"/>
										<xs:element minOccurs="0" name="codigo_infracao" type="xs:int"/>
										<xs:element minOccurs="0" name="codigo_desdobramento_infracao" type="xs:int"/>
										<xs:element minOccurs="0" name="descricao_infracao" type="xs:string"/>
										<xs:element minOccurs="0" name="valor_infracao" type="xs:string"/>
										<xs:element minOccurs="0" name="amparo_legal" type="xs:int"/>
										<xs:element minOccurs="0" name="infrator_59" type="xs:string"/>
										<xs:element minOccurs="0" name="pontos_carteira" type="xs:int"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>

	<message name="WebserviceInfracaoConsultarVeiculoPorPlaca_consultarVeiculoPorPlaca">
		<part element="tns:consultarVeiculoPorPlaca" name="consultarVeiculoPorPlaca" type="consultarVeiculoPorPlaca"/>
	</message>
	<message name="WebserviceInfracaoConsultarVeiculoPorPlaca_consultarVeiculoPorPlacaResponse">
		<part element="tns:consultarVeiculoPorPlacaResponse" name="consultarVeiculoPorPlacaResponse" type="consultarVeiculoPorPlacaResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarPontuacaoDadosCondutor_consultarPontuacaoDadosCondutor">
		<part element="tns:consultarPontuacaoDadosCondutor" name="consultarPontuacaoDadosCondutor" type="consultarPontuacaoDadosCondutor"/>
	</message>
	<message name="WebserviceInfracaoConsultarPontuacaoDadosCondutor_consultarPontuacaoDadosCondutorResponse">
		<part element="tns:consultarPontuacaoDadosCondutorResponse" name="consultarPontuacaoDadosCondutorResponse" type="consultarPontuacaoDadosCondutorResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarAutoInfracaoBaseEstadual_consultarAutoInfracaoBaseEstadual">
		<part element="tns:consultarAutoInfracaoBaseEstadual" name="consultarAutoInfracaoBaseEstadual" type="consultarAutoInfracaoBaseEstadual"/>
	</message>
	<message name="WebserviceInfracaoConsultarAutoInfracaoBaseEstadual_consultarAutoInfracaoBaseEstadualResponse">
		<part element="tns:consultarAutoInfracaoBaseEstadualResponse" name="consultarAutoInfracaoBaseEstadualResponse" type="consultarAutoInfracaoBaseEstadualResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarAutoInfracaoBaseNacional_consultarAutoInfracaoBaseNacional">
		<part element="tns:consultarAutoInfracaoBaseNacional" name="consultarAutoInfracaoBaseNacional" type="consultarAutoInfracaoBaseNacional"/>
	</message>
	<message name="WebserviceInfracaoConsultarAutoInfracaoBaseNacional_consultarAutoInfracaoBaseNacionalResponse">
		<part element="tns:consultarAutoInfracaoBaseNacionalResponse" name="consultarAutoInfracaoBaseNacionalResponse" type="consultarAutoInfracaoBaseNacionalResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarDefesaRecursoInfracao_consultarDefesaRecursoInfracao">
		<part element="tns:consultarDefesaRecursoInfracao" name="consultarDefesaRecursoInfracao" type="consultarDefesaRecursoInfracao"/>
	</message>
	<message name="WebserviceInfracaoConsultarDefesaRecursoInfracao_consultarDefesaRecursoInfracaoResponse">
		<part element="tns:consultarDefesaRecursoInfracaoResponse" name="consultarDefesaRecursoInfracaoResponse" type="consultarDefesaRecursoInfracaoResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarMovimentacoesInfracao_consultarMovimentacoesInfracao">
		<part element="tns:consultarMovimentacoesInfracao" name="consultarMovimentacoesInfracao" type="consultarMovimentacoesInfracao"/>
	</message>
	<message name="WebserviceInfracaoConsultarMovimentacoesInfracao_consultarMovimentacoesInfracaoResponse">
		<part element="tns:consultarMovimentacoesInfracaoResponse" name="consultarMovimentacoesInfracaoResponse" type="consultarMovimentacoesInfracaoResponse"/>
	</message>
	<message name="WebserviceInfracaoIncluirAutoInfracao_incluirAutoInfracao">
		<part element="tns:incluirAutoInfracao" name="incluirAutoInfracao" type="incluirAutoInfracao"/>
	</message>
	<message name="WebserviceInfracaoIncluirAutoInfracao_incluirAutoInfracaoResponse">
		<part element="tns:incluirAutoInfracaoResponse" name="incluirAutoInfracaoResponse" type="incluirAutoInfracaoResponse"/>
	</message>
	<message name="WebserviceInfracaoIncluirRecursoInfracao_incluirRecursoInfracao">
		<part element="tns:incluirRecursoInfracao" name="incluirRecursoInfracao" type="incluirRecursoInfracao"/>
	</message>
	<message name="WebserviceInfracaoIncluirRecursoInfracao_incluirRecursoInfracaoResponse">
		<part element="tns:incluirRecursoInfracaoResponse" name="incluirRecursoInfracaoResponse" type="incluirRecursoInfracaoResponse"/>
	</message>
	<message name="WebserviceInfracaoIncluirIdentificacaoCondutorInfrator_incluirIdentificacaoCondutorInfrator">
		<part element="tns:incluirIdentificacaoCondutorInfrator" name="incluirIdentificacaoCondutorInfrator" type="incluirIdentificacaoCondutorInfrator"/>
	</message>
	<message name="WebserviceInfracaoIncluirIdentificacaoCondutorInfrator_incluirIdentificacaoCondutorInfratorResponse">
		<part element="tns:incluirIdentificacaoCondutorInfratorResponse" name="incluirIdentificacaoCondutorInfratorResponse" type="incluirIdentificacaoCondutorInfratorResponse"/>
	</message>
	<message name="WebserviceInfracaoIncluirBaixaSuspensaoRetornoInfracao_incluirBaixaSuspensaoRetornoInfracao">
		<part element="tns:incluirBaixaSuspensaoRetornoInfracao" name="incluirBaixaSuspensaoRetornoInfracao" type="incluirBaixaSuspensaoRetornoInfracao"/>
	</message>
	<message name="WebserviceInfracaoIncluirBaixaSuspensaoRetornoInfracao_incluirBaixaSuspensaoRetornoInfracaoResponse">
		<part element="tns:incluirBaixaSuspensaoRetornoInfracaoResponse" name="incluirBaixaSuspensaoRetornoInfracaoResponse" type="incluirBaixaSuspensaoRetornoInfracaoResponse"/>
	</message>
	<message name="WebserviceInfracaoIncluirNotificacaoPublicacaoPrazo_incluirNotificacaoPublicacaoPrazo">
		<part element="tns:incluirNotificacaoPublicacaoPrazo" name="incluirNotificacaoPublicacaoPrazo" type="incluirNotificacaoPublicacaoPrazo"/>
	</message>
	<message name="WebserviceInfracaoIncluirNotificacaoPublicacaoPrazo_incluirNotificacaoPublicacaoPrazoResponse">
		<part element="tns:incluirNotificacaoPublicacaoPrazoResponse" name="incluirNotificacaoPublicacaoPrazoResponse" type="incluirNotificacaoPublicacaoPrazoResponse"/>
	</message>
	<message name="WebserviceInfracaoIncluirDefesaAutuacao_incluirDefesaAutuacao">
		<part element="tns:incluirDefesaAutuacao" name="incluirDefesaAutuacao" type="incluirDefesaAutuacao"/>
	</message>
	<message name="WebserviceInfracaoIncluirDefesaAutuacao_incluirDefesaAutuacaoResponse">
		<part element="tns:incluirDefesaAutuacaoResponse" name="incluirDefesaAutuacaoResponse" type="incluirDefesaAutuacaoResponse"/>
	</message>
	<message name="WebserviceInfracaoIncluirMultaCondutorNaoIdentificado_incluirMultaCondutorNaoIdentificado">
		<part element="tns:incluirMultaCondutorNaoIdentificado" name="incluirMultaCondutorNaoIdentificado" type="incluirMultaCondutorNaoIdentificado"/>
	</message>
	<message name="WebserviceInfracaoIncluirMultaCondutorNaoIdentificado_incluirMultaCondutorNaoIdentificadoResponse">
		<part element="tns:incluirMultaCondutorNaoIdentificadoResponse" name="incluirMultaCondutorNaoIdentificadoResponse" type="incluirMultaCondutorNaoIdentificadoResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarCarroceriaVeiculo_consultarCarroceriaVeiculo">
		<part element="tns:consultarCarroceriaVeiculo" name="consultarCarroceriaVeiculo" type="consultarCarroceriaVeiculo"/>
	</message>
	<message name="WebserviceInfracaoConsultarCarroceriaVeiculo_consultarCarroceriaVeiculoResponse">
		<part element="tns:consultarCarroceriaVeiculoResponse" name="consultarCarroceriaVeiculoResponse" type="consultarCarroceriaVeiculoResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarCategoriaVeiculo_consultarCategoriaVeiculo">
		<part element="tns:consultarCategoriaVeiculo" name="consultarCategoriaVeiculo" type="consultarCategoriaVeiculo"/>
	</message>
	<message name="WebserviceInfracaoConsultarCategoriaVeiculo_consultarCategoriaVeiculoResponse">
		<part element="tns:consultarCategoriaVeiculoResponse" name="consultarCategoriaVeiculoResponse" type="consultarCategoriaVeiculoResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarCorVeiculo_consultarCorVeiculo">
		<part element="tns:consultarCorVeiculo" name="consultarCorVeiculo" type="consultarCorVeiculo"/>
	</message>
	<message name="WebserviceInfracaoConsultarCorVeiculo_consultarCorVeiculoResponse">
		<part element="tns:consultarCorVeiculoResponse" name="consultarCorVeiculoResponse" type="consultarCorVeiculoResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarEspecieVeiculo_consultarEspecieVeiculo">
		<part element="tns:consultarEspecieVeiculo" name="consultarEspecieVeiculo" type="consultarEspecieVeiculo"/>
	</message>
	<message name="WebserviceInfracaoConsultarEspecieVeiculo_consultarEspecieVeiculoResponse">
		<part element="tns:consultarEspecieVeiculoResponse" name="consultarEspecieVeiculoResponse" type="consultarEspecieVeiculoResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarMarcaVeiculo_consultarMarcaVeiculo">
		<part element="tns:consultarMarcaVeiculo" name="consultarMarcaVeiculo" type="consultarMarcaVeiculo"/>
	</message>
	<message name="WebserviceInfracaoConsultarMarcaVeiculo_consultarMarcaVeiculoResponse">
		<part element="tns:consultarMarcaVeiculoResponse" name="consultarMarcaVeiculoResponse" type="consultarMarcaVeiculoResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarMarcaModeloVeiculo_consultarMarcaModeloVeiculo">
		<part element="tns:consultarMarcaModeloVeiculo" name="consultarMarcaModeloVeiculo" type="consultarMarcaModeloVeiculo"/>
	</message>
	<message name="WebserviceInfracaoConsultarMarcaModeloVeiculo_consultarMarcaModeloVeiculoResponse">
		<part element="tns:consultarMarcaModeloVeiculoResponse" name="consultarMarcaModeloVeiculoResponse" type="consultarMarcaModeloVeiculoResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarMunicipio_consultarMunicipio">
		<part element="tns:consultarMunicipio" name="consultarMunicipio" type="consultarMunicipio"/>
	</message>
	<message name="WebserviceInfracaoConsultarMunicipio_consultarMunicipioResponse">
		<part element="tns:consultarMunicipioResponse" name="consultarMunicipioResponse" type="consultarMunicipioResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarTipoVeiculo_consultarTipoVeiculo">
		<part element="tns:consultarTipoVeiculo" name="consultarTipoVeiculo" type="consultarTipoVeiculo"/>
	</message>
	<message name="WebserviceInfracaoConsultarTipoVeiculo_consultarTipoVeiculoResponse">
		<part element="tns:consultarTipoVeiculoResponse" name="consultarTipoVeiculoResponse" type="consultarTipoVeiculoResponse"/>
	</message>
	<message name="WebserviceInfracaoConsultarInfracao_consultarInfracao">
		<part element="tns:consultarInfracao" name="consultarInfracao" type="consultarInfracao"/>
	</message>
	<message name="WebserviceInfracaoConsultarInfracao_consultarInfracaoResponse">
		<part element="tns:consultarInfracaoResponse" name="consultarInfracaoResponse" type="consultarInfracaoResponse"/>
	</message>
	<message name="WebserviceInfracaoRetornarInfracoes_retornarInfracoes">
		<part element="tns:retornarInfracoes" name="retornarInfracoes" type="retornarInfracoes"/>
	</message>
	<message name="WebserviceInfracaoRetornarInfracoes_retornarInfracoesResponse">
		<part element="tns:retornarInfracoesResponse" name="retornarInfracoesResponse" type="retornarInfracoesResponse"/>
	</message>

	<portType name="WebserviceInfracao">
		<operation name="consultarVeiculoPorPlaca" parameterOrder="consultarVeiculoPorPlaca">
			<input message="tns:WebserviceInfracaoConsultarVeiculoPorPlaca_consultarVeiculoPorPlaca"/>
			<output message="tns:WebserviceInfracaoConsultarVeiculoPorPlaca_consultarVeiculoPorPlacaResponse"/>
		</operation>
		<operation name="consultarPontuacaoDadosCondutor" parameterOrder="consultarPontuacaoDadosCondutor">
			<input message="tns:WebserviceInfracaoConsultarPontuacaoDadosCondutor_consultarPontuacaoDadosCondutor"/>
			<output message="tns:WebserviceInfracaoConsultarPontuacaoDadosCondutor_consultarPontuacaoDadosCondutorResponse"/>
		</operation>
		<operation name="consultarAutoInfracaoBaseEstadual" parameterOrder="consultarAutoInfracaoBaseEstadual">
			<input message="tns:WebserviceInfracaoConsultarAutoInfracaoBaseEstadual_consultarAutoInfracaoBaseEstadual"/>
			<output message="tns:WebserviceInfracaoConsultarAutoInfracaoBaseEstadual_consultarAutoInfracaoBaseEstadualResponse"/>
		</operation>
		<operation name="consultarAutoInfracaoBaseNacional" parameterOrder="consultarAutoInfracaoBaseNacional">
			<input message="tns:WebserviceInfracaoConsultarAutoInfracaoBaseNacional_consultarAutoInfracaoBaseNacional"/>
			<output message="tns:WebserviceInfracaoConsultarAutoInfracaoBaseNacional_consultarAutoInfracaoBaseNacionalResponse"/>
		</operation>
		<operation name="consultarDefesaRecursoInfracao" parameterOrder="consultarDefesaRecursoInfracao">
			<input message="tns:WebserviceInfracaoConsultarDefesaRecursoInfracao_consultarDefesaRecursoInfracao"/>
			<output message="tns:WebserviceInfracaoConsultarDefesaRecursoInfracao_consultarDefesaRecursoInfracaoResponse"/>
		</operation>
		<operation name="consultarMovimentacoesInfracao" parameterOrder="consultarMovimentacoesInfracao">
			<input message="tns:WebserviceInfracaoConsultarMovimentacoesInfracao_consultarMovimentacoesInfracao"/>
			<output message="tns:WebserviceInfracaoConsultarMovimentacoesInfracao_consultarMovimentacoesInfracaoResponse"/>
		</operation>
		<operation name="incluirAutoInfracao" parameterOrder="incluirAutoInfracao">
			<input message="tns:WebserviceInfracaoIncluirAutoInfracao_incluirAutoInfracao"/>
			<output message="tns:WebserviceInfracaoIncluirAutoInfracao_incluirAutoInfracaoResponse"/>
		</operation>
		<operation name="incluirRecursoInfracao" parameterOrder="incluirRecursoInfracao">
			<input message="tns:WebserviceInfracaoIncluirRecursoInfracao_incluirRecursoInfracao"/>
			<output message="tns:WebserviceInfracaoIncluirRecursoInfracao_incluirRecursoInfracaoResponse"/>
		</operation>
		<operation name="incluirIdentificacaoCondutorInfrator" parameterOrder="incluirIdentificacaoCondutorInfrator">
			<input message="tns:WebserviceInfracaoIncluirIdentificacaoCondutorInfrator_incluirIdentificacaoCondutorInfrator"/>
			<output message="tns:WebserviceInfracaoIncluirIdentificacaoCondutorInfrator_incluirIdentificacaoCondutorInfratorResponse"/>
		</operation>
		<operation name="incluirBaixaSuspensaoRetornoInfracao" parameterOrder="incluirBaixaSuspensaoRetornoInfracao">
			<input message="tns:WebserviceInfracaoIncluirBaixaSuspensaoRetornoInfracao_incluirBaixaSuspensaoRetornoInfracao"/>
			<output message="tns:WebserviceInfracaoIncluirBaixaSuspensaoRetornoInfracao_incluirBaixaSuspensaoRetornoInfracaoResponse"/>
		</operation>
		<operation name="incluirNotificacaoPublicacaoPrazo" parameterOrder="incluirNotificacaoPublicacaoPrazo">
			<input message="tns:WebserviceInfracaoIncluirNotificacaoPublicacaoPrazo_incluirNotificacaoPublicacaoPrazo"/>
			<output message="tns:WebserviceInfracaoIncluirNotificacaoPublicacaoPrazo_incluirNotificacaoPublicacaoPrazoResponse"/>
		</operation>
		<operation name="incluirDefesaAutuacao" parameterOrder="incluirDefesaAutuacao">
			<input message="tns:WebserviceInfracaoIncluirDefesaAutuacao_incluirDefesaAutuacao"/>
			<output message="tns:WebserviceInfracaoIncluirDefesaAutuacao_incluirDefesaAutuacaoResponse"/>
		</operation>
		<operation name="incluirMultaCondutorNaoIdentificado" parameterOrder="incluirMultaCondutorNaoIdentificado">
			<input message="tns:WebserviceInfracaoIncluirMultaCondutorNaoIdentificado_incluirMultaCondutorNaoIdentificado"/>
			<output message="tns:WebserviceInfracaoIncluirMultaCondutorNaoIdentificado_incluirMultaCondutorNaoIdentificadoResponse"/>
		</operation>
		<operation name="consultarCarroceriaVeiculo" parameterOrder="consultarCarroceriaVeiculo">
			<input message="tns:WebserviceInfracaoConsultarCarroceriaVeiculo_consultarCarroceriaVeiculo"/>
			<output message="tns:WebserviceInfracaoConsultarCarroceriaVeiculo_consultarCarroceriaVeiculoResponse"/>
		</operation>
		<operation name="consultarCategoriaVeiculo" parameterOrder="consultarCategoriaVeiculo">
			<input message="tns:WebserviceInfracaoConsultarCategoriaVeiculo_consultarCategoriaVeiculo"/>
			<output message="tns:WebserviceInfracaoConsultarCategoriaVeiculo_consultarCategoriaVeiculoResponse"/>
		</operation>
		<operation name="consultarCorVeiculo" parameterOrder="consultarCorVeiculo">
			<input message="tns:WebserviceInfracaoConsultarCorVeiculo_consultarCorVeiculo"/>
			<output message="tns:WebserviceInfracaoConsultarCorVeiculo_consultarCorVeiculoResponse"/>
		</operation>
		<operation name="consultarEspecieVeiculo" parameterOrder="consultarEspecieVeiculo">
			<input message="tns:WebserviceInfracaoConsultarEspecieVeiculo_consultarEspecieVeiculo"/>
			<output message="tns:WebserviceInfracaoConsultarEspecieVeiculo_consultarEspecieVeiculoResponse"/>
		</operation>
		<operation name="consultarMarcaVeiculo" parameterOrder="consultarMarcaVeiculo">
			<input message="tns:WebserviceInfracaoConsultarMarcaVeiculo_consultarMarcaVeiculo"/>
			<output message="tns:WebserviceInfracaoConsultarMarcaVeiculo_consultarMarcaVeiculoResponse"/>
		</operation>
		<operation name="consultarMarcaModeloVeiculo" parameterOrder="consultarMarcaModeloVeiculo">
			<input message="tns:WebserviceInfracaoConsultarMarcaModeloVeiculo_consultarMarcaModeloVeiculo"/>
			<output message="tns:WebserviceInfracaoConsultarMarcaModeloVeiculo_consultarMarcaModeloVeiculoResponse"/>
		</operation>
		<operation name="consultarMunicipio" parameterOrder="consultarMunicipio">
			<input message="tns:WebserviceInfracaoConsultarMunicipio_consultarMunicipio"/>
			<output message="tns:WebserviceInfracaoConsultarMunicipio_consultarMunicipioResponse"/>
		</operation>
		<operation name="consultarTipoVeiculo" parameterOrder="consultarTipoVeiculo">
			<input message="tns:WebserviceInfracaoConsultarTipoVeiculo_consultarTipoVeiculo"/>
			<output message="tns:WebserviceInfracaoConsultarTipoVeiculo_consultarTipoVeiculoResponse"/>
		</operation>
		<operation name="consultarInfracao" parameterOrder="consultarInfracao">
			<input message="tns:WebserviceInfracaoConsultarInfracao_consultarInfracao"/>
			<output message="tns:WebserviceInfracaoConsultarInfracao_consultarInfracaoResponse"/>
		</operation>
		<operation name="retornarInfracoes" parameterOrder="retornarInfracoes">
			<input message="tns:WebserviceInfracaoRetornarInfracoes_retornarInfracoes"/>
			<output message="tns:WebserviceInfracaoRetornarInfracoes_retornarInfracoesResponse"/>
		</operation>
	</portType>

	<binding name="WebserviceInfracaoBinding" type="tns:WebserviceInfracao">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="consultarVeiculoPorPlaca">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarPontuacaoDadosCondutor">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarAutoInfracaoBaseEstadual">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarAutoInfracaoBaseNacional">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarDefesaRecursoInfracao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarMovimentacoesInfracao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="incluirAutoInfracao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="incluirRecursoInfracao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="incluirIdentificacaoCondutorInfrator">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="incluirBaixaSuspensaoRetornoInfracao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="incluirNotificacaoPublicacaoPrazo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="incluirDefesaAutuacao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="incluirMultaCondutorNaoIdentificado">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarCarroceriaVeiculo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarCategoriaVeiculo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarCorVeiculo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarEspecieVeiculo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarMarcaVeiculo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarMarcaModeloVeiculo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarMunicipio">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarTipoVeiculo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="consultarInfracao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="retornarInfracoes">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="WebserviceInfracao">
		<port binding="tns:WebserviceInfracaoBinding" name="WebserviceInfracaoPort">
			<soap:address location="http://homologa3.prodemge.gov.br/sdat/sram/webservice/soap/service"/>
		</port>
	</service>
</definitions>